{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets_child %}
  <link rel="stylesheet" href="{{ asset('build/login.css') }}" />
{% endblock %}

{% block body %}
  <div class="user content container">
    <h1>Please sign in</h1>

    {{ form_start(registrationForm) }}
        <div class="input-wrapper">
          {{ form_row(registrationForm.email) }}
        </div>
        <div class="input-wrapper">
          {{ form_row(registrationForm.plainPassword) }}
        </div>

        <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    <a href="/login">Back to login</a>
  </div>
{% endblock %}
