<div class='pokemon-list--single' id='pokemon-{{ single_pokemon.id }}' pokemon-team='{{ team.id }}' pokemon-number='{{ single_pokemon.number }}'>
	<div class="pokemon-list--single--info">
		<div>
			<div class='img-wrapper'>
		        <img src='{{ single_pokemon.img }}' alt='{{ single_pokemon.name }}'/>
		    </div>
		</div>
		<div>
			<div class='name'>
				<h5>{{ single_pokemon.name }}</h5>
			</div>
			<div class='exp'>
				<p>EXP: {{ single_pokemon.exp }}</p>
			</div>
			<div class='abilities'>
				{% for ability in single_pokemon.abilities %}
		            <span class='ability'>{{ ability }}</span>
		        {% endfor %}
			</div>
		    <div class='types'>
		    	{% for type in single_pokemon.types %}
		            <span class='type'>{{ type }}</span>
		        {% endfor %}
		    </div>
		</div>
	</div>
	<div class="pokemon-list--single--actions">
	<button class='pokemon-remove-btn btn btn-primary' data-path='local' data-pokemon='{{ single_pokemon.id }}'>
		x
	</button>
	</div>
</div>