{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block stylesheets_child %}
  <link rel="stylesheet" href="{{ asset('build/team.css') }}" />
{% endblock %}

{% block body %}
    <h1>Edit Team</h1>
    {{ include('team/_pokemon_list_element_local_tpl.html.twig') }}
    
    {{ include('team/_form.html.twig', {'button_label': 'Save changes'}) }}


    <div class="team-list--list--item" id='team-{{ team.id }}'>
            <div class="team-list--list--item--header">
                <span>POKEMON</span>
            </div>
            <div class="pokemon-list">

                {% for single_pokemon in team.pokemon %}
                    {{ include('team/_pokemon_list_element.html.twig') }}
                {% endfor %}
                {% if team.pokemon|length == 0 %}
                    <div class='pokemon-list-empty'>
                        This team is empty.
                    </div>
                {% else %}
                    <div class='pokemon-list-empty hidden'>
                        This team is empty.
                    </div>
                {% endif %}
                    
            </div>
            <div class="actions">
                {{ include('team/_pokemon_add_btn.html.twig') }}
            </div>
        </div>

    <a href="{{ path('team_index') }}">back to list</a>
{% endblock %}


{% block javascripts_child %}
	<script type="text/javascript" src="{{ asset('build/team.js') }}"></script>
{% endblock %}