{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block stylesheets_child %}
  <link rel="stylesheet" href="{{ asset('build/team.css') }}" />
{% endblock %}

{% block body %}
  <div class="team-list content container">
    <header class="content--header">
      <h1>Your Teams</h1>
      <h2>Crea e gestisci i tuoi Pokemon in fantasici team!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </header>

    {% for team in teams %}
    <div class="team-list--list">
        <table class="team-list--list--item table" id='team-{{ team.id }}'>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>
                        {{ team.name }}
                    </td>
                </tr>

                <tr class='pokemon-list'>
                    <th>Pokemon</th>

                    {% for single_pokemon in team.pokemon %}
                        <td>
                            {{ include('team/_pokemon_list_element.html.twig') }}
                        </td>
                    {% endfor %}

                    {% if team.pokemon|length == 0 %}
                        <td class='pokemon-list-empty'>
                            This team is empty.
                        </td>
                    {% else %}
                        <td class='pokemon-list-empty hidden'>
                            This team is empty.
                        </td>
                    {% endif %}


                </tr>

                <tr>
                    <th>Actions</th>
                    <td>
                        {{ include('team/_delete_form.html.twig') }}
                    </td>
                    <td>
                        {{ include('team/_edit_btn.html.twig') }}
                    </td>
                    <td>
                        {{ include('team/_pokemon_add_btn.html.twig') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="team-list--list no-results">
            <table class="table">
                <tr>
                    <td>
                        <p>No teams found.</p>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <div class="team-list--add">
      <a class="btn btn-primary" href="{{ path('team_new') }}">Create new team!</a>
    </div>

  </div>
{% endblock %}

{% block javascripts_child %}
    <script type="text/javascript" src="{{ asset('build/team.js') }}"></script>
{% endblock %}
