{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block stylesheets_child %}
  <link rel="stylesheet" href="{{ asset('build/team.css') }}" />
{% endblock %}

{% block body %}
  <div class="team-list content container">
    <header class="content--header">
      <h1>Your Teams</h1>
      <h2>Crea e gestisci i tuoi Pokemon in fantasici team!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <select id="type-select">
            <option selected="selected" value="all">
                All
            </option>
      </select>
    </header>
    <div class="team-list--list">
    {% for team in teams %}
        {% set tot_exp=0 %}
        {% for single_pokemon in team.pokemon %}
            {% set tot_exp = tot_exp + single_pokemon.exp %}
        {% endfor %}
        <a href="{{ path('team_edit', {'id': team.id}) }}" class="team-list--list--item" id='team-{{ team.id }}'>
            <div class="team-list--list--item--header">
                <span>TEAM NAME</span>
                <h3>{{ team.name }}</h3>
                <p>TOTAL EXP: <span>{{ tot_exp }}</span></p>
                <span>POKEMON</span>
            </div>
            <div class="pokemon-list">                
                {% if team.pokemon|length == 0 %}
                    <div class='pokemon-list-empty'>
                        This team is empty.
                    </div>
                {% else %}
                    {% for single_pokemon in team.pokemon %}
                        <div class='pokemon-list--single' id='pokemon-{{ single_pokemon.id }}' pokemon-team='{{ team.id }}'>
                            <div class="img-wrapper">
                                <img src="{{ single_pokemon.img }}" alt="{{ single_pokemon.name }}" />
                            </div>
                            <div class="exp">
                                <p>EXP : {{ single_pokemon.exp }}</p>
                            </div>
                            <div class='types'>
                                {% for type in single_pokemon.types %}
                                    <span class="type">{{ type }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="actions">
                {{ include('team/_delete_form.html.twig') }}
            </div>
        </a>
    {% else %}
        <table class="table no-results">
            <tr>
                <td>
                    <p>No teams found.</p>
                </td>
            </tr>
        </table>
    {% endfor %}
    </div>
    <div class="team-list--add">
      <a class="btn btn-primary" href="{{ path('team_new') }}">Create new team!</a>
    </div>

  </div>
{% endblock %}


{% block javascripts_child %}
    <script type="text/javascript" src="{{ asset('build/team.js') }}"></script>
{% endblock %}
