{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Your Teams</h1>

    {{ include('team/_pokemon_list_element_tpl.html.twig') }}

    {% for team in teams %}
        <table class="table" id='team-{{ team.id }}'>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>
                        {{ team.name }}
                    </td>
                </tr>

                <tr class='pokemon-list'>
                    <th>Pokemon</th>
                
                    {% for single_pokemon in team.pokemon %}
                        <td>
                            {{ include('team/_pokemon_list_element.html.twig') }}
                        </td>
                    {% endfor %}

                    {% if team.pokemon|length == 0 %}
                        <td class='pokemon-list-empty'>
                            This team is empty.
                        </td>
                    {% else %}
                        <td class='pokemon-list-empty hidden'>
                            This team is empty.
                        </td>
                    {% endif %}
                </tr>

                <tr>
                    <th>Actions</th>
                    <td>
                        {{ include('team/_delete_form.html.twig') }}
                    </td>
                    <td>
                        {{ include('team/_edit_btn.html.twig') }}
                    </td>
                    <td>
                        {{ include('team/_pokemon_add_btn.html.twig') }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <tr>
                <td>
                    No teams found.
                </td>
            </tr>
        </table>
    {% endfor %}

    <a href="{{ path('team_new') }}">Create new team!</a>
{% endblock %}

{% block javascripts_child %}
    <script type="text/javascript" src="{{ asset('build/team.js') }}"></script>
{% endblock %}
