{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block stylesheets_child %}
  <link rel="stylesheet" href="{{ asset('build/team.css') }}" />
{% endblock %}

{% block body %}
    <div class="team-list content container">
      <header class="content--header">
        <h1>NEW TEAM</h1>
        <h2>CREATE YOUR TEAM!</h2>
        <p>Choose a name and get your Pokemon! </br> Gotta Catch 'Em All!</p>
      </header>
      <div class="team-list--edit">
      {{ include('team/_pokemon_list_element_local_tpl.html.twig') }}

          {{ form_start(form) }}
              <div class="input-wrapper">
                  {{ form_widget(form) }}
              </div>
              <div class="team-list--edit--pokemon" id='team-0'>
                <div class="pokemon-list">
                </div>
                <div class="actions">
                  {{ include('team/_pokemon_add_btn_local.html.twig') }}
                  <button class="btn btn-primary">Save changes</button>
                </div>
            </div>
        {{ form_end(form) }}
        <div class="actions">
            <a class="btn btn-primary" href="{{ path('team_index') }}">Back to list</a>
        </div>
    </div>
  </div>

{% endblock %}

{% block javascripts_child %}
	<script type="text/javascript" src="{{ asset('build/team.js') }}"></script>
{% endblock %}
