{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block stylesheets_child %}
  <link rel="stylesheet" href="{{ asset('build/team.css') }}" />
{% endblock %}

{% block body %}
    <h1>Create new Team</h1>


    {{ include('team/_pokemon_list_element_local_tpl.html.twig') }}

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('team_index') }}">back to list</a>

    <div class="team-list--list--item" id='team-0'>
            <div class="team-list--list--item--header">
                <span>POKEMON</span>
            </div>
            <div class="pokemon-list">
                <div class='pokemon-list-empty'>
                    This team is empty.
                </div>
            </div>
            <div class="actions">
                {{ include('team/_pokemon_add_btn_local.html.twig') }}
            </div>
        </div>

{% endblock %}

{% block javascripts_child %}
	<script type="text/javascript" src="{{ asset('build/team.js') }}"></script>
{% endblock %}